.jumbotron {
	background-image: url('https://wallpaperscraft.com/image/mac_os_x_apple_mavericks_waves_wave_94219_1366x768.jpg');
	background-size: cover;
}

.name {
	font-family: 'Eagle Lake', cursive;
	text-align: center;
}

.lead {
	font-family: 'Eagle Lake', cursive;
	font-size: 25px;
	margin: 20px;
	text-align: center;
	color: #bc177d;
}

.header-nav {
	display: flex;
	flex-direcion: column;
	justify-content: space-around;
	font-size: 45px;
	margin: 100px;
	align-items: flex-end;
}

h3 {
	font-family: 'Dr Sugiyama', cursive;
	color: #bc177d;
	text-decoration: underline;
	font-size: 55px;
	padding: 35px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.flex-container-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.for-the-love-of-his-game, .vagabond, .motivate-me, .curls, .hangman {
	width: 300px;
	height: 300px;
	margin: 20px;
	box-shadow: 5px 10px 10px 5px rgb(100, 100, 100);
}

.flex-container-skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 80px;
}

.ruby, .js, .nodejs, .angular, .git, .jquery, .rails, .github, .mongo {
	width: 100px;
	height: 80px;
	margin: 27px;
}

.flex-container-about-me {
	background-color: #9AC0CD;
	display: flex;
	flex-direction: column;
	font-family: 'Eagle Lake', cursive;
	flex-wrap: wrap;
	margin-bottom: 2px;
}

.aboutMe {
	font-family: 'Dr Sugiyama', cursive;
	text-decoration: underline;
	margin: 35px;
	padding: 20px;
	font-size: 55px;
	color: #bc177d;

}

.aboutMeParagraph {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

h6 {
	line-height: 2.5;
	margin: 10px;
	width: 70%;
	font-size: 15px;
}

.profile-picture {
	height: 155px;
	width: 180px;
	margin-top: 5px;
	border-radius: 20px;
	box-shadow: 5px 10px 10px 5px rgb(100, 100, 100);
}

button {
	border-radius: 15%;
	color: black;
	font-size: 17px;
	text-align: left;
	font-family: 'Eagle Lake', cursive;
	margin-left: 550px;
	margin-bottom: 50px;
	height: 55px;
	width: 90px;
	box-shadow: 2px 3px 2px 3px #bc177d;
}

a {
	color: aqua;
}

footer {
  display: flex;
  background-color: #bdc0c5;
  margin: 0;
  padding-right: 30px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Eagle Lake', cursive;
}

/*@media only screen and (max-width: 1000px) {

.navbar-default {
	font-size: 40px;
}
h1 {
	font-size: 30px;
	text-align: center;
}

button {
	font-size: 15px;
	text-align: center;
	justify-content: center;
	height: 55px;
}

.navbar-right {
	font-size: 25px;
}

.skills {
	display: flex;
	flex-direction: row;
}

.projects {
	display: flex;
	flex-direction: column;
}

.mongo {
	margin-right: 70px;
}

.github {
	margin-left: 75px;
}

}

*/
