.jumbotron {
	background-image: url('https://wallpaperscraft.com/image/mac_os_x_apple_mavericks_waves_wave_94219_1366x768.jpg');
	background-size: cover;
	color: #bc177d;
}

h1 {
	font-family: 'Eagle Lake', cursive;
	text-align: center;
}

.lead {
	font-family: 'Eagle Lake', cursive;
	font-size: 25px;
	margin: 15px;
	text-align: center;
	color: #bc177d;
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 45px;
	margin-top: 180px;
}

h3 {
	font-family: 'Dr Sugiyama', cursive;
	color: #bc177d;
	text-decoration: underline;
	font-size: 55px;
	padding: 35px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.flex-container-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.for-the-love-of-his-game, .vagabond, .motivate-me, .aos {
	width: 300px;
	height: 300px;
	margin: 20px;
	box-shadow: 5px 10px 10px 5px rgb(100, 100, 100);
}

.flex-container-skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 80px;
}

.ruby, .js, .nodejs, .angular, .git, .jquery, .rails, .github, .mongo {
	width: 100px;
	height: 80px;
	margin: 27px;
}

#about-me-picture {
	box-shadow: 5px 10px 10px 5px; 
	border-radius: 100px;
	padding: 8px;
	margin-left: 45px;
}

p {
	justify-content: center;
	font-family: 'Yatra One', cursive;
	font-size: 20px;
	padding: 50px;
}

button {
	display: flex;
	position: absolute;
	margin-left: 70vw;
	margin-bottom: 5vh;
	height: 55px;
	width: 90px;
	border-radius: 15%;
	color: black;
	font-size: 17px;
	box-shadow: 2px 3px 2px 3px #bc177d;
	font-family: 'Eagle Lake', cursive;
}

a {
	color: aqua;
}

